.search-field::placeholder {
  color: #3C4858 !important;
}

.card-image {
  width: 45px !important;
  height: 45px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.card-image > picture > img {
  height: auto !important;
  position: relative !important;
}

.card-image > img {
  height: auto !important;
}

@media screen and (min-width: 48em) {
  .card-image {
    width: 60px !important;
    height: 60px !important;
  }
}

@media screen and (min-width: 62em) {
  .card-image {
    width: 70px !important;
    height: 70px !important;
  }
}

@media screen and (min-width: 107em) {
  .card-image {
    width: 80px !important;
    height: 80px !important;
  }
}

@media screen and (max-width: 86.25em) and (min-width: 65.9375em) {
  .content-container {
    padding-left: 7%;
    padding-right: 7%;
  };
}

@media screen and (max-width: 65.9375em) and (max-width: 86.25em){
  .content-container {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (min-width: 107em) {
  .content-container {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (min-width: 86.25em) and (max-width: 107em)  {
  .content-container {
    padding-left: 17%;
    padding-right: 17%
  }
}

@media screen and (min-width: 75em) and (max-width: 86.25em) { 
  .content-container {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media screen and (max-width: 62em) and (min-width: 48em) {
  .content-container {
    padding-left: 20%;
    padding-right: 20%;
  }

  .padding-normal {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}